.jobs__box{
    border-radius: 10px;
    height: 180px;
    padding: 15px;
    position: relative;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);

    .title{
        align-items: center;
        margin-bottom: 20px;
    }
    h4{
        margin-bottom: 0;
    }
    ul{
        width: 90%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: 20px;
    }
    a{
        text-decoration: none;
        border: 1px solid #007bff;
        border-radius: 10px;
        padding: 5px 10px;
        color: #007bff;
    }
    p{
        margin: 0;
        padding-left: 10px;
    }
    i{
        color: #007bff;
    }
    .time_box{
        display: flex;
        align-items: center;
    }
    .delete{
        position: absolute;
        top: 15px;
        right: 15px;
    }
    
    
    
    
}